// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================

.title {
  font-family: "ALS Hauss";
  font-weight: 900;
  font-size: 32px;
  line-height: 96%;
  letter-spacing: -0.04em;
  color: #1f1f1f;
}
